.header_Wrapper{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%)
}
.Web_Icon{
    font-size: 18px;
    font-weight: 700;
}
.Web_Icon_dot{
    font-weight: 800;
    color: #ff9100;
}
.free_trail_Button{
    display: inline-block;
    left:72%;
    border-radius: 2px;
    background-color: #181717;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.Login_button{
    left: 74%;
    border-radius: 2px;
    background-color: #e78d1c;
    color: white;
    font-weight: 500;
    font-size: 14px;
    width: 9%;
    height: 32px;
}